@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Dirección: Puntarenas, Parrita<br />
        Los Ángeles, La Sabana<br />
        <abbr title="Phone">Teléfono:</abbr>
        8659 6064 <br/>
    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:alejandro.rivera@uned.cr">alejandro.rivera@uned.cr</a><br />
        <strong>Mercadeo:</strong> <a href="mailto:alejandro.rivera@uned.cr">alejandro.rivera@uned.cr</a>
    </address>
</main>